@import url("./style.css");

table {
  margin: 2rem auto;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

table, th, td, tr {
  text-align: center;
  border-spacing: 0;
}

th, td, tr {
  border-bottom: 1px solid black;
  padding: 15px;
}

th {
  text-transform: capitalize;
  border-top: 1px solid black;
}

th:first-child {
  border-left: 1px solid black;
  border-top-left-radius: 15px;
}

th:last-child {
  border-right: 1px solid black;
  border-top-right-radius: 15px;
}

table thead {
  font-size: 1.2rem;
}

tbody tr:nth-child(even) {
  background-color: #ebebeb;
}

th {
  border-right: 1px solid black;
  background-color: #4b6983;
  color: white;
}

td {
  border-right: 1px solid black;
}

tr {
  transition: 0.2s background-color;
}

td:first-of-type {
  border-left: 1px solid black;
}

tbody tr:hover {
  background-color: #dbdbdb;
}

/* add news button */
.wrap {
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.add_form {
  margin: 5rem auto;
}

.add_form .btn_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add_form h3 {
  padding: 2rem 0;
  text-shadow: 0 0 3px black;
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}

.add_form label {
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.add_form input {
  width: 100%;
}

.add_form textarea {
  text-shadow: 0 0 2px black;
  font-size: 1.8rem;
  color: white;
  background-color: transparent;
  resize: none;
  width: 100%;
  height: 20vh;
}

.logout {
  color: black;
  text-shadow: none;
}